<%= render partial: 'layouts/errors', locals: {object: @vehicle}  %>

<%= form_for(@vehicle) do |f|%>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :year%>
  <%= f.text_field :year %>

  <p> What type of vehicle is this?</p>
  <div>
    <%= f.collection_select :type_id, Type.all, :id, :name, include_blank: 'Select One'%>
  </div>
  <div>
  <%= f.submit%>
  </div>
<% end %>