<h1>Make a new car!</h1>


<%= form_for(@vehicle) do |f|%>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :year%>
  <%= f.text_field :year %>

  <p> Select a Type of vehicle if already created.</p>
  <div>
    <%= f.collection_select :type_id, Type.all, :id, :name, include_blank: 'Select One'%>
  </div>

  <p> Or create a new type vehicle.</p>
  <div>
    <%=f.fields_for :type do |t| %>
      <%= t.label :name %>
      <%= t.text_field :name %>
    <% end %>
  </div>
  <%= f.submit%>
<% end %>




