<h1> <%= @vehicle.name%> </h1>

<h2> <%= @vehicle.year%> </h2>

<h2> <%= @vehicle.type.name%> </h2>

<h3>Added by: <%= link_to @vehicle.user.username %> </h3>

<%= link_to "Edit #{@vehicle.name}", edit_vehicle_path(@vehicle) if @vehicle.user == current_user%>