<!DOCTYPE html>
<html>
  <head>
    <title>CarReviews</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<div>
  <%= link_to "Log Out", logout_path, method: :delete %>
  <%= link_to "Add a Vehicle", new_vehicle_path %> 
  <%= link_to "All Vehicles", vehicles_path %> 
  <%= link_to "Home", user_path(current_user)%>
  <%= link_to "All Reviews", reviews_path %>
</div>

  <body>
    <%= yield %>
  </body>
</html>
